
  <% @activities.each do |activity| %>
  <div class="col-xs-12 col-sm-8 col-md-6 actcontainer">

  <div class="event-container serve" style="background: linear-gradient(to bottom, rgba(250,250,250,0) 0%, rgba(250,250,250,0.5) 25%, rgba(250,250,250,1) 50%), url('<%=activity.image_file_name == nil ? 'http://caffeinepowered.com.au/img/img1.jpg' : activity.image.url %>'); background-size: contain; background-position: center top;">

    <div class="calendar-icon">

        <span class="calendar-icon-date">
          <% if activity.starts_at != nil %>
          <%= activity.starts_at.strftime("%d")%>
        <% end %>
      </span>
        <span class="calendar-icon-month">
           <% if activity.starts_at != nil %>
           <%= activity.starts_at.strftime("%b")%>
           <% end %>
         </span>
    </div>

    <div class="event-overview">

      <span class="event-name"><%= activity.name%></span><br><br>
      <i class="fa fa-map-marker fa-fw"></i>
      <span class="event-location"><%= activity.location %></span><br>
      <i class="fa fa-clock-o fa-fw"></i>
      <span class="event-time"><%= activity.starts_at_time%></span><br>

    </div>

    <div class="event-details detailsoverview">

      <p><%= activity.description%></p>
      <a href="/activity/<%=activity.id %>" class="btn btn-info btn-block"><span class="fa fa-user"></span>Show Details</a>
      <a href="#" data-toggle="modal" data-target="#activity<%=activity.id%>" class="btn btn-info btn-block"><span class="fa fa-user"></span>Add Your Groups</a>

      <form id="deleteactivity", data-remote = "true", data-actid="<%=activity.id%>" >
        <%= hidden_field_tag :activityid, activity.id %>
      <%= submit_tag "Delete", class: "btn btn-primary" %>
      </form>

    </div>

  </div>
  </div>
  <% end %>
