<h2>All Your Options:</h2>
  <% @activities.each do |activity| %>
  <div class="col-xs-12 col-sm-8 col-md-6 actcontainer">
    <span class="badge"><%= activity.users.length%></span>
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= activity.name %></h3>
  </div>
  <div class="panel-body">
    <p>Name: <%= activity.name%></p>
    <p>Location: <%= activity.location%></p>
    <p>Date/Time: <%= activity.starts_at%></p>
    <a href="/activity/<%=activity.id %>" class="btn btn-info btn-block"><span class="fa fa-user"></span>Show Details</a>
    <a href="" class="btn btn-danger">Invite more friends</a>
    <form id="deleteactivity", data-remote = "true", actid="<%=activity.id%>"  >
      <%= hidden_field_tag :activityid, activity.id %>
    <%= submit_tag "Delete", class: "btn btn-primary" %>
    </form>
  </div>
</div>
</div>
  <% end %>
