
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Welcome <%= current_user.name %>
                    </a>
                </li>
                <li>
                    <a href="#">Edit Profile</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
                <li>
                    <a href="#">Group Overview:</a>
                </li>
                <% @user.groups.each do |group| %>
                <li>
                    <%= group.name %>
                </li>
                <% end %>

                <li>
                  <%= form_for @group, url: "/groups", html: {class: "form groupinput", role: "form", method: :post} do |f| %>
                    <%= f.text_field :name, placeholder: "Create new group" %>
                    <%= f.submit "Add new group", class: "btn" %>
                  <% end %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
              <div class="row row-centered profilheader">
                <div class="col-md-4 col-xs-12 profilecard">
                  <div class="profile-overlay">
                  <%= image_tag current_user.largeimage, :class => "center-block img-circle img-responsive"%>
                    </div>
                    <div class="row row-centered">
                      <h2 class="username"><%= current_user.name %> </h2>
                    </div>
                    <div class="row row-centered activitycountrow">
                      <h3 class="activitycount"><%= current_user.activities.count %>&nbsp activities</h3>
                    </div>

                </div>

              </div>
              <div id="page-content-wrapper">
              <div class="container-fluid">
              <div class="row-centered">
              <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#activitycreation">Create new Aktivity!</a>
              </div>


              <div class="row activitycontainer ">
                <%= render "useractivities" %>
              </div>





            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->




    <div class="modal fade" tabindex="-1" role="dialog" id="activitycreation">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Something New!</h4>
          </div>
          <div class="Intro"> </div>
          <div class="modal-body">
            <h2>Create New Activity</h2>
            <div class="container">
            <%= form_for @activity, url: "/activity", html: {class: "form", role: "form", multipart: true, method: :post} do |f| %>
              <div class="form-group">
              <%= f.label :name, "Name:" %>
              <%= f.text_field :name %>
              </div>
              <div class="form-group">
              <%= f.label :description, "Description:" %>
              <%= f.text_field :description %>
              </div>
              <div class="form-group">
              <%= f.label :starts_at, "DateTime:" %>
              <%= f.date_select :starts_at %>
              <%= f.time_select :starts_at %>
              </div>
              <div class="form-group">
              <%= f.label :image, "Image:" %>
              <%= f.file_field :image %>
              </div>
              <div class="">
                Allow Voting:
              </div>
              <div class="form-group">
              <%= f.label :locationvoting, "Location:" %>
              <%= f.check_box :locationvoting, {:class => "allowvoting", :style => "form"}, "true", "false"%>
              <%= f.label :datevoting, "Date:" %>
              <%= f.check_box :datevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
              <%= f.label :timevoting, "Time:" %>
              <%= f.check_box :timevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
              </div>
              <p>
                Set an access key to allow your friends to join your activity. You can change it anytime!
              </p>
              <div class="form-group">
              <%= f.label :password, "Access Key:" %>
              <%= f.password_field :password %>
              </div>
              <div class="form-group">
              <%= f.label :password_confirmation, "Confirm Access Key:" %>
              <%= f.password_field :password_confirmation %>
              </div>

              <%= f.submit "Have Fun", class: "btn btn-primary" %>

            <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




    <!-- <div class="col-md-6 col-xs-12 col-centered profilarea">
      <div class="panel panel-default">
      <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2> <%=current_user.username %></h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            <p><strong>Skills: </strong>
                                <span class="label label-info tags">html5</span>
                                <span class="label label-info tags">css3</span>
                                <span class="label label-info tags">jquery</span>
                                <span class="label label-info tags">bootstrap3</span>
                            </p>
                            <p><%= link_to "Log Out", "/logout", :method => :delete %></p>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                                <%= image_tag current_user.largeimage, :class => "center-block img-circle img-responsive"%>
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 20,7K </strong></h2>
                            <p><small>Followers</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>245</strong></h2>
                            <p><small>Following</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>43</strong></h2>
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                        </div>
                  </div>
              </div>
          </div>
    </div> -->
