
    <div id="wrapper">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navcontainer">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="<%= asset_path("whitelogo.png")%>">
          </a>
          <button type="button" href="#menu-toggle" id="menu-toggle"class="navbutton btn btn-lg pull-right navbar-right navbar-btn"><i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

      </nav>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- <li class="sidebar-brand">
                    <a href="#">
                        Welcome <%= current_user.name %>
                    </a>
                </li> -->
                <li>
                    <p> Your Groups</p>
                </li>
                <% @user.groups.each do |group| %>
                <li>
                  <% if group.user_id == current_user.id %>
                  <a id="groupoverview" data-toggle="collapse" href="#profilegroup<%=group.id%>" aria-expanded="false" aria-controls="showmembers">
                    <%= group.name %> </a>

                  <div class="collapse" id="profilegroup<%=group.id%>">
                  <ul>
                    <% group.users.each do |user| %>
                    <% if user != current_user %>
                    <li class="grouplisting">
                      <p class="inline-block"><%=user.username %> </p> <span class="inline-block"> <form action="/groups/<%=group.id%>/deleteuser" method="post" id="deletegroup", userid="<%=user.id%>"  >
                        <%= hidden_field_tag :userid, user.id %>
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                      <%= button_tag "", type: 'submit', class: "glyphbutton glyphicon glyphicon-remove-circle " %>
                      </form></span>
                    </li>
                    <% end %>
                    <% end %>
                    </ul>
                  </div>
                </li>
                <% end %>
                <% end %>

                <li>
                  <%= form_for @group, url: "/groups", html: {class: "form groupinput", role: "form", method: :post} do |f| %>
                    <span class="pull-left groupspan inline-block">
                    <%= f.text_field :name, placeholder: "Create new group" %>
                    <%= button_tag "", type: 'submit', class: "glyphbutton glyphicon glyphicon-plus-sign " %>
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= form_for @group, url: "/groups/delete", html: {class: "form groupinput", role: "form", method: :post} do |f| %>
                    <span class="pull-left groupspan inline-block">
                    <%= f.text_field :name, placeholder: "Remove A Group" %>
                    <%= button_tag "", type: 'submit', class: "glyphbutton glyphicon glyphicon-minus-sign " %>
                    </span>
                  <% end %>
                </li>
                </ul>


                <ul class="sidebar-nav logoutbutton">
                <li>
                  <%= link_to "Log Out", "/logout", :method => :delete %>
                </li>
              </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->



        <!-- Page Content -->
              <div class="row row-centered profilheader">
                <div class="col-md-4 col-xs-12 profilecard">
                  <div class="profile-overlay">
                  <% if current_user.picture == nil %>
                      <img class="center-block img-circle img-responsive"src= <%= asset_path("dummy.png")%> alt="...">
                      <% else %>
                  <%= image_tag current_user.largeimage, :class => "center-block img-circle img-responsive"%>
                  <% end %>
                    </div>
                    <div class="row row-centered">
                      <h2 class="username">Welcome <%= current_user.username %> </h2>
                    </div>
                    <!-- <div class="row row-centered activitycountrow">
                      <h3 class="activitycount">You have <%= current_user.activities.count %> Options</h3>
                    </div> -->
                    <div class="row-centered">
                    <a href="#" class="newactivitybutton btn btn-lg btn-primary" data-toggle="modal" data-target="#activitycreation">Create Something New!</a>
                    </div>

                </div>

              </div>
              <div id="page-content-wrapper wrapperprofile">
              <div class="container-fluid wrapperprofile">

                <div class="row row-centered">
                  <img alt="Brand" class="allyouroptions" src="<%= asset_path("allyouroptions.png")%>">
                </div>

              <div class="row row-centered activitycontainer wrapperprofile ">
                <%= render "activitycardoverview" %>
              </div>





            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->




    <div class="modal fade" tabindex="-1" role="dialog" id="activitycreation">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Something New!</h4>
          </div>
          <div class="Intro"> </div>
          <div class="modal-body">
            <%= form_for @activity, url: "/activity", html: {class: "form", role: "form", multipart: true, method: :post} do |f| %>
              <div class="form-group">
              <%= f.label :name, "Name:" %>
              <%= f.text_field :name, class:"form-control" %>
              </div>
              <div class="form-group">
              <%= f.label :description, "Description:" %>
              <%= f.text_field :description, class:"form-control" %>
              </div>
              <div class="form-group">
              <%= f.label :location, "Location:" %>
              <%= f.text_field :location, class:"form-control" %>
              </div>
              <!-- <div class="form-group"> -->
              <!-- <%= f.label :starts_at, "Date:" %> -->
              <div class="form-group" >
                <%= f.label :starts_at, "Date:" %>
                <%= f.date_select :starts_at %>
              </div>
                <div class="form-group" >
                <%= f.label :starts_at, "Time:" %>
                <%= f.time_select :starts_at %>
              </div>
              <!-- <%= f.label :starts_at, "Time:" %>
              <%= f.time_select :starts_at, class:"form-control" %> -->
              <!-- </div> -->
              <div class="form-group">
              <%= f.label :image, "Image:" %>
              <%= f.file_field :image %>
              </div>
              <div class="">
                Allow Voting:
              </div>
              <div class="form-group">
              <%= f.label :locationvoting, "Location:" %>
              <%= f.check_box :locationvoting, {:class => "allowvoting", :style => "form"}, "true", "false"%>
              <%= f.label :datevoting, "Date:" %>
              <%= f.check_box :datevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
              <%= f.label :timevoting, "Time:" %>
              <%= f.check_box :timevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
              </div>

              <p>
                Set an access key to allow your friends to join your activity. You can change it anytime!
              </p>
              <div class="form-group">
              <%= f.label :password, "Access Key:" %>
              <%= f.password_field :password, class:"form-control" %>
              </div>
              <div class="form-group">
              <%= f.label :password_confirmation, "Confirm Access Key:" %>
              <%= f.password_field :password_confirmation, class:"form-control" %>
              </div>

              <%= f.submit "Have Fun", class: "btn btn-primary" %>

            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <% current_user.activities.each do |activity| %>
    <div class="modal fade" tabindex="-1" role="dialog" id="activity<%=activity.id%>">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add Groups To: <b> <%= activity.name %> </b></h4>
          </div>
          <div class="Intro"> </div>
          <div class="modal-body">
            <div class="container">
              <%= form_for activity, url: "/activity/#{activity.id}/groups", html: {class: "form", role: "form", multipart: true, method: :patch} do |f| %>
              <%current_user.groups.each do |group| %>
              <li class="addpeople"> <h3 class="groupname"><%=group.name%> </h3>
                <div class="checkboxgroup">
                    <%= f.check_box(:groups, { :multiple => true }, group.id) %>
                </div>
                </li>
              <% end %>
              <%= f.submit "Add Them!", class: "btn btn-primary groupconfirm" %>
              <% end %>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>




    <!-- <div class="col-md-6 col-xs-12 col-centered profilarea">
      <div class="panel panel-default">
      <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2> <%=current_user.username %></h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            <p><strong>Skills: </strong>
                                <span class="label label-info tags">html5</span>
                                <span class="label label-info tags">css3</span>
                                <span class="label label-info tags">jquery</span>
                                <span class="label label-info tags">bootstrap3</span>
                            </p>
                            <p><%= link_to "Log Out", "/logout", :method => :delete %></p>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                                <%= image_tag current_user.largeimage, :class => "center-block img-circle img-responsive"%>
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 20,7K </strong></h2>
                            <p><small>Followers</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>245</strong></h2>
                            <p><small>Following</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>43</strong></h2>
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                        </div>
                  </div>
              </div>
          </div>
    </div> -->

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <!-- <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script> -->
