<section class="comments">
  <h3>Comments</h3>
  <% @activity.comments.each do |comment| %>

  <div class="comment <%= comment.category %>">
      <%= image_tag User.find_by(id: comment.user_id).normalimage, :class => "avatar"%>
    <p><%=comment.text%></p>
    <% if comment.user == current_user %>
    <form id="deletecomment", data-remote = "true", commtid="<%=comment.id%>"  >
      <%= hidden_field_tag :id, comment.id %>
      <%= hidden_field_tag :actid, @activity.id %>
    <%= submit_tag "Delete", class: "btn btn-primary vote" %>
    </form>
    <% end %>
  </div>
  <% end %>
  <div class="comment">
    <img class="avatar" src="<%= asset_path("jake.jpeg")%>" alt="jake"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quisquam totam atque nam velit repudiandae nostrum provident quae magnam possimus explicabo, saepe error voluptatum obcaecati perferendis corrupti? Asperiores dolorum, rerum?</p>
  </div>
</section>
<section class="form"> <br>
  <%= form_for Comment.new, html: {class: "form", role: "form"} do |f| %>
    <%= f.text_area :text, placeholder: "Add your intelligence" %>
    <%= f.select :category, [ 'General', 'Supportive', 'Objection', 'Counter'], :prompt => 'Choose Category' %>
    <%= hidden_field_tag :id, @activity.id %>
    <%= f.submit "Submit Comment", class: "btn" %>
  <% end %>
</section>
