
<div class="container">
  <h2>Vote Date!</h2>

  <form id="dateform" >
    <%= label_tag :date, "Date:" %>
  <%= date_field_tag :date %>
    <%= hidden_field_tag :id, @activity.id %>
  <%= submit_tag "Add", class: "btn btn-primary vote" %>
  </form>

  <table class="table table-striped" id="mytab1">
    <thead>
      <tr>
        <th>#</th>
        <% @activity.date_entries.each_with_index do |date, i| %>
        <th col="<%=i%>"><%= date.date.strftime("%a %d.%m.") %> </th>
        <% end %>
      </tr>
    </thead>
    <tbody>

        <% @activity.users.each do |user| %>
        <tr>
          <td row="<%=user.id%>" col="0"><%= user.username %></td>

          <% for i in 1..@activity.date_entries.length %>
          <td row="<%=user.id%>" col="<%=i%>">
            <div class="checkbox">
              <label><input type="checkbox" value=""></label>
            </div>
          </td>
          <% end %>
        </tr>
          <% end %>
        <tr>
          <td row="count" col="0">Count</td>
          <% for i in 1..@activity.date_entries.length %>
          <td row="count" col="<%=i%>">
            <%= i %>
          </td>
          <% end %>
        </tr>


    </tbody>
  </table>

</div>
