
<div class="container">
  <h2>Vote Date!</h2>

  <form id="dateform", data-remote = "true" >
    <%= label_tag :date, "Date:" %>
  <%= date_field_tag :date %>
    <%= hidden_field_tag :id, @activity.id %>
  <%= submit_tag "Add", class: "btn btn-primary vote" %>
  </form>

  <table class="table table-striped" id="mytab1">
    <thead>
      <tr>
        <th>#</th>
        <% @activity.date_entries.each_with_index do |date, i| %>
        <th col="<%=i%>"><%= date.date.strftime("%a %d.%m.") %> </th>
        <% end %>
      </tr>
    </thead>
    <tbody>

        <% @activity.users.each do |user| %>

          <tr <%='id=userdatevotes' if user == current_user%>>
            <td row="<%=user.id%>" col="0"><%= user.username %> <%= submit_tag "Vote", :class => "votesubmitdate" %></td>
            <% for i in 1..@activity.date_entries.length %>
              <td userid="<%=user.id%>" col="<%=i%>" actid="<%=@activity.id%>">
                <div class="checkbox">

                    <label><%= check_box_tag 'vote', @activity.date_entries[i-1].id, ({checked: true} if @activity.date_votes.find_by(activity_id: @activity.id, user_id: user.id, date_entry_id: @activity.date_entries[i-1].id, check: true) ) %></label>
                </div>
              </td>
            <% end %>


          </tr>
        <% end %>
        <tr>
          <td row="count" col="0">Count</td>
          <% @activity.date_entries.each_with_index do |d, i| %>
            <td row="count" col="<%=i%>">
              <%= d.votes || 0 %>
            </td>
          <% end %>
        </tr>


    </tbody>
  </table>

</div>
