<div class="table-container-outer">
	<div class="table-container-fade"></div>
<div class="table-container">
  <h2>Vote Time!</h2>

  <form id="timeform", data-remote = "true" >
    <%= label_tag :time, "Time:" %>
  <%= time_field_tag :time %>
    <%= hidden_field_tag :id, @activity.id %>
  <%= submit_tag "Add", class: "btn btn-primary vote" %>
  </form>

  <table class="table" id="mytabtime">
    <thead>
      <tr>
        <th>#</th>
        <% @activity.time_entries.each_with_index do |time, i| %>
				<% if time.time != nil %>
        <th col="<%=i%>"><%= time.time.strftime("%I:%M%p") %> </th>
        <% end %>
				<% end %>

      </tr>
    </thead>
    <tbody>

        <% @activity.users.each do |user| %>

          <tr class="timevoterow"<%='id=usertimevotes' if user == current_user%>>
            <td row="<%=user.id%>" col="0"><%= user.username %> <%= submit_tag "Vote", :class => "votesubmittime" %></td>
            <% for i in 1..@activity.time_entries.length %>
              <td userid="<%=user.id%>" col="<%=i%>" actid="<%=@activity.id%>">
                <div class="checkbox">

                    <label><%= check_box_tag 'vote', @activity.time_entries[i-1].id, ({checked: true} if @activity.time_votes.find_by(activity_id: @activity.id, user_id: user.id, time_entry_id: @activity.time_entries[i-1].id, check: true) ) %></label>
                </div>
              </td>
            <% end %>


          </tr>
        <% end %>
        <tr>
          <td row="count" col="0">Count</td>
          <% @activity.time_entries.each_with_index do |d, i| %>
            <td row="count" col="<%=i%>">
              <%= d.votes || 0 %>
            </td>
          <% end %>
        </tr>


    </tbody>
  </table>

</div>
</div>
