<nav class="navbar navbar-default homenav navbar-fixed-top">
  <div class="navcontainer">
    <div class="navbar-brand-home" href="#">
      <img alt="" src="<%= asset_path("whitelogo.png")%>">
    </div>

  </div>

</nav>

<!-- <h1>Hi, I See you want to join this activity, do you have a password?</h1>
 -->

  <div class="overlaykeytitle">
    Please Type In Your Access Key To Join Requested Option

  </div>


  <div class="overlaykey row row-centered">
    <!-- <%= form_tag '/activity/login' do %>
      <%= text_field_tag :password, class:"searchTerm", placeholder:"Enter Access Key" %>
      <%= hidden_field_tag :id, @activity.id %>
      <%= submit_tag "", class: "searchButton fa fa-search" %>
      <% end %> -->


      <form class="" action="/activity/login" method="post">
      <input type="text" name="password" class="searchTerm" placeholder="Enter Access Key">
      <input type="hidden" name="id" value="<%=@activity.id%>" class="searchTerm" placeholder="Enter Access Key">
       <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     </form>
</div>
