
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Welcome <%= current_user.name %>
                  </a>
              </li>

                <li class="sidebar-brand">
                    <a href="#" id="#copylink" class="btn btn-primary copylink">
                        Invite your friends!
                    </a>
                </li>
                <li>
                    <a href="/profile">Back to Profile</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
                <li>
                    <a href="#">User Overview:</a>
                </li>
                <%@activity.users.each do |user| %>
                <%= image_tag user.normalimage, class: (user == current_user ? 'avatar mypicture' : 'avatar') %>
                <li><%=user.username%></li>
                <% if @activity.hosts.find_by(userid: current_user.id) && @activity.hosts.find_by(userid: user.id) == nil %>
                <form id="makehost", data-remote = "true" >
                  <%= hidden_field_tag :userid, user.id %>
                  <%= hidden_field_tag :actid, @activity.id %>
                <%= submit_tag "Make Host", class: "btn btn-primary" %>
                </form>
                <% end %>
                <% end %>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="activitybackground">
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
              <div class="row row-centered">

              <%= render "activitycard" %>
                  <!-- <div class="activity">
                  <%= image_tag @activity.image.url(:medium) %>
                  <ul>
                    <li>Name: <%= @activity.name%></li>
                    <li>Description: <%= @activity.description%></li>
                    <li>Location: <%= @activity.location%></li>


                    <li>Date: <%= @activity.starts_at_date%></li>

                    <li>Time: <%= @activity.starts_at_time%>

                    </li>
                  </ul>
                  <% if @activity.hosts.find_by(userid: current_user.id) %>
                  <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModal">Change Details</a>
                  <% end %>


                </div> -->

              </div>

              <div class="row row-centered">
                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModal">Change Details</a>

                <div class="buttonrow">
                <% if @activity.locationvoting == true %>
                <div class="votebutton">
                <a class="btn btn-lg btn-primary" role="button" id="buttonloc" data-toggle="collapse" href="#locationvoting" aria-expanded="false" aria-controls="locationvoting">
                  VOTE Location!
                </a>
                </div>
                <% end %>
                <% if @activity.datevoting == true %>
                <div class="votebutton">
                <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#datevoting" aria-expanded="false" aria-controls="datevoting">
                  VOTE Date!
                </a>
                </div>
                <% end %>
                <% if @activity.timevoting == true %>
                <div class="votebutton">
                <a class="btn btn-lg btn-primary" role="button" data-toggle="collapse" href="#timevoting" aria-expanded="false" aria-controls="timevoting">Vote Time!</a>
                </div>

                <% end %>
              </div>
            </div>



              <div class="collapse " id="locationvoting">
                <div class="well locationcontent">
                  <%= render "locationvotes" %>
                </div>
              </div>

              <div class="collapse " id="datevoting">
                <div class="well datecontent">
                  <%= render "datevotes" %>
                </div>
              </div>

              <div class="collapse " id="timevoting">
                <div class="well timecontent">
                  <%= render "timevotes" %>
                </div>
              </div>

              <div class="container">
              <div class="row commentcontainer">
                <%= render "comments" %>
              </div>
                </div>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


  </div>














<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>
      <div class="Intro"> </div>
      <div class="modal-body">
        <div class="container">
        <%= form_for @activity, url: "/activity/#{@activity.id}", html: {class: "form", role: "form", multipart: true, method: :patch} do |f| %>
          <div class="form-group">
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name %>
          </div>
          <div class="form-group">
          <%= f.label :description, "Description:" %>
          <%= f.text_field :description %>
          </div>
          <div class="form-group">
          <%= f.label :location, "Location:" %>
          <%= f.text_field :location %>
          </div>
          <div class="form-group">
          <%= f.label :starts_at, "Description:" %>
          <%= f.date_select :starts_at %>
          <%= f.time_select :starts_at %>
          </div>
          <div class="form-group">
          <%= f.label :image, "Image:" %>
          <%= f.file_field :image %>
          </div>
          <div class="">
            Allow Voting:
          </div>
          <div class="form-group">
          <%= f.label :locationvoting, "Location:" %>
          <%= f.check_box :locationvoting, {:class => "allowvoting", :style => "form"}, "true", "false"%>
          <%= f.label :datevoting, "Date:" %>
          <%= f.check_box :datevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
          <%= f.label :timevoting, "Time:" %>
          <%= f.check_box :timevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
          </div>
          <%= f.submit "Submit Changes", class: "btn btn-primary" %>

        <% end %>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="myModal2">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vote</h4>
      </div>
      <div class="Intro"> </div>
      <div class="modal-body ">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
