

    <div id="wrapper">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navcontainer">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="<%= asset_path("whitelogo.png")%>">
          </a>
          <button type="button" href="#menu-toggle" id="menu-toggle"class="navbutton btn btn-lg pull-right navbar-right navbar-btn"><i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

      </nav>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">

                <li>
                    <a href="#" id="#copylink" class="copylink">
                        Invite Your Friends!
                    </a>
                </li>

                <% if @activity.hosts.find_by(userid: current_user.id) %>
                <li >
                  <a href="#" data-toggle="modal" data-target="#myModal">Change Details</a>
                </li>
                <% end %>
                <li><a data-toggle="collapse" href="#addtogroups" aria-expanded="false" aria-controls="addtogroups">Add Participants To Your Groups</li>
                <div class="collapse" id="addtogroups">
                <% current_user.groups.each do |group| %>
                <li>
                  <a href="#"  data-toggle="modal" data-target="#group<%=group.id%>"><%= group.name %></a>
                </li>
                <% end %>
                </div>
                <li>
                    <a href="/profile">Back To Profile</a>
                </li>
                <% if @activity.hosts.find_by(userid: current_user.id) %>

                <li>
                  <a id="buttonloc" data-toggle="collapse" href="#updatepassword" aria-expanded="false" aria-controls="updatepassword">
                    Set New Access Key </a>
                </li>
                <div class="collapse" id="updatepassword">
                <li>
                  <%= form_for @activity, url: "/activity/#{@activity.id}/password", html: {class: "", role: "form", method: :patch} do |f| %>
                    <div class="updatekey groupinput">
                    <%= f.password_field :password, placeholder: "Access key" %>
                    </div>
                    <div class="updatekey groupinput">
                    <%= f.password_field :password_confirmation, placeholder: "Confirm access key" %>
                    </div>
                    <%= f.submit "Confirm", class: "btn btn-default updatekeybtn" %>

                  <% end %>
                </li>
                </div>
                <% end %>


                <%@activity.users.each do |user| %>
                <li class="addpeople">   <%= image_tag user.normalimage, class: (user == current_user ? 'avatar mypicture' : 'avatar') %>
                  <p class="inline-block"><%=user.username %> </p> <span class="inline-block">
                    <% if user != current_user && @activity.hosts.find_by(userid: current_user.id) %>
                    <form action="/activity/<%=@activity.id%>/removeuser" method="post" >
                    <%= hidden_field_tag :userid, user.id %>
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <%= button_tag "", type: 'submit', class: "glyphbutton glyphicon glyphicon-remove-circle " %>
                  </form></span>
                  <% end %>
                  <div class="">
                    <% if @activity.hosts.find_by(userid: current_user.id) && @activity.hosts.find_by(userid: user.id) == nil %>
                    <form class="" action="/hosts" method="post">
                      <input type="hidden" name="userid" value="<%=user.id%>">
                    <input type="hidden" name="actid" value="<%=@activity.id%>">
                     <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <button type="submit" class="btn">
                      Make Host
                   </button>
                   </form>



                    <!-- <form id="makehost", data-remote = "true" >
                      <%= hidden_field_tag :userid, user.id %>
                      <%= hidden_field_tag :actid, @activity.id %>
                    <%= submit_tag "Make Host", class: "btn btn-primary" %>
                    </form> -->
                  </div>
                  </li>

                <% end %>


                <% end %>


            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="pagecontent">

        <div class="row-centered">
        <%= render "activitycard" %>
      </div>
      <div class="row-centered evaluatevoting">
        <input type="button" value="Evaluate Voting" onClick="window.location.reload()">

      </div>







        <div class="row row-centered">
            <div class="inline-block topvotes">
          <% if @activity.location_entries.where(votes: @activity.location_entries.maximum(:votes)).count > 1 || @activity.date_entries.where(votes: @activity.date_entries.maximum(:votes)).count > 1 || @activity.time_entries.where(votes: @activity.time_entries.maximum(:votes)).count > 1 %>
          <div class="votingresults">
            All Your Top Votes:
          </div>
          <% end %>



          <% if @activity.location_entries.where(votes: @activity.location_entries.maximum(:votes)).count > 1 %>
          <div class="votingresults">
            <% sorted = @activity.location_entries.sort_by {|u| u.votes || 0}%>
            <% @activity.location_entries.each do |d| %>
            <% if d.votes == sorted.last.votes %>
            <i class="fa fa-map-marker fa-fw"></i>
            <span class="event-location"><%= d.location %></span>
            <!-- <a class="btn btn-default"><%=d.location%></a> -->
              <% end %>
            <% end %>
          </div>
          <% end %>

          <% if @activity.date_entries.where(votes: @activity.date_entries.maximum(:votes)).count > 1 %>
          <div class="votingresults">
            <% sorted = @activity.date_entries.sort_by {|u| u.votes || 0}%>
            <% @activity.date_entries.each do |d| %>
            <% if d.votes == sorted.last.votes %>
            <i class="icon-calendar"></i>
            <span class="event-time"><%= d.date.strftime("%a %d.%m.")%></span>
              <% end %>
            <% end %>
          </div>
          <% end %>

          <% if @activity.time_entries.where(votes: @activity.time_entries.maximum(:votes)).count > 1 %>
          <div class="votingresults">
            <% sorted = @activity.time_entries.sort_by {|u| u.votes || 0} %>
            <% @activity.time_entries.each do |d| %>
            <% if d.votes == sorted.last.votes %>
            <i class="fa fa-clock-o fa-fw"></i>
            <span class="event-time"><%= d.time.strftime("%I:%M%p")%></span>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
        </div>







        <div class="row row-centered">
          <div class="col-xs-12 col-md-4">
              <% if @activity.locationvoting == true %>
                <div class="votebutton">
                  <a class="btn btn-lg btn-black btn-primary" role="button" id="buttonloc" data-toggle="collapse" href="#locationvoting" aria-expanded="false" aria-controls="locationvoting">
                    VOTE Location!
                  </a>
                </div>
                <% end %>
              </div>


          <div class="col-xs-12 col-md-4">
              <% if @activity.datevoting == true %>
              <div class="votebutton">
              <a class="btn btn-lg btn-black btn-primary" role="button" data-toggle="collapse" href="#datevoting" aria-expanded="false" aria-controls="datevoting">
                VOTE Date!
              </a>
              </div>
              <% end %>
          </div>

          <div class="col-xs-12 col-md-4">
              <% if @activity.timevoting == true %>
              <div class="votebutton">
              <a class="btn btn-lg btn-black btn-primary" role="button" data-toggle="collapse" href="#timevoting" aria-expanded="false" aria-controls="timevoting">Vote Time!</a>
              </div>
              <% end %>
          </div>

        </div>

        <div id="collapsegroup">


        <div class="collapse " id="locationvoting">
          <div class="well locationcontent">
            <%= render "locationvotes" %>
          </div>
        </div>

        <div class="collapse " id="datevoting">
          <div class="well datecontent">
            <%= render "datevotes" %>
          </div>
        </div>

        <div class="collapse " id="timevoting">
          <div class="well timecontent">
            <%= render "timevotes" %>
          </div>
        </div>
      </div>




        <div class="row row-centered hidecharts">
          <div class="col-xs-4 col-md-4 hidecharts">
          <% if @activity.locationvoting == true %>
          <p> Progress Locationvoting (% Of Users) </p>

            <div class="progress-pie-chart locpiechart" data-percent="0">
              <div class="ppc-progress locpieprogress">
                <div class="ppc-progress-fill locpiefill"></div>
              </div>
              <div class="ppc-percents locpiepercents">
                <div class="pcc-percents-wrapper locpiewrapper">
                  <span>%</span>
                </div>
              </div>
            </div>
            <% end %>
          </div>





              <div class="col-xs-4 col-md-4 hidecharts">
                <% if @activity.datevoting == true %>
                <p> Progress Datevoting (% Of Users) </p>

                <div class="progress-pie-chart datepiechart" data-percent="0">
                  <div class="ppc-progress datepieprogress">
                    <div class="ppc-progress-fill datepiefill"></div>
                  </div>
                  <div class="ppc-percents datepiepercents">
                    <div class="pcc-percents-wrapper datepiewrapper">
                      <span>%</span>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="col-xs-4 col-md-4">
                <% if @activity.timevoting == true %>
                <p> Progress Timevoting (% Of Users) </p>

                <div class="progress-pie-chart timepiechart" data-percent="0">
                  <div class="ppc-progress timepieprogress">
                    <div class="ppc-progress-fill timepiefill"></div>
                  </div>
                  <div class="ppc-percents timepiepercents">
                    <div class="pcc-percents-wrapper timepiewrapper">
                      <span>%</span>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>








              </div>



              <div class="container-fluid">


              <div class="row commentcontainer">

                <%= render "comments" %>
                </div>

              </div>


    </div>
    <!-- /#wrapper -->


  </div>














<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>
      <div class="Intro"> </div>
      <div class="modal-body">
        <%= form_for @activity, url: "/activity/#{@activity.id}", html: {class: "form", role: "form", multipart: true, method: :patch} do |f| %>
          <div class="form-group">
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group">
          <%= f.label :description, "Description:" %>
          <%= f.text_area :description, class:"form-control" %>
          </div>
          <div class="form-group">
          <%= f.label :location, "Location:" %>
          <%= f.text_field :location, class:"form-control" %>
          </div>
          <div class="form-group" >
            <%= f.label :starts_at, "Date/Time:" %>
            <%= f.datetime_field :starts_at %>
          </div>
            <!-- <div class="form-group">
            <%= f.label :starts_at, "Time:" %>
            <%= f.time_select :starts_at %>
          </div> -->
          <div class="form-group">
          <%= f.label :image, "Image:" %>
          <%= f.file_field :image %>
          </div>
          <div class="">
            Allow Voting:
          </div>
          <div class="form-group">
          <%= f.label :locationvoting, "Location:" %>
          <%= f.check_box :locationvoting, {:class => "allowvoting", :style => "form"}, "true", "false"%>
          <%= f.label :datevoting, "Date:" %>
          <%= f.check_box :datevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
          <%= f.label :timevoting, "Time:" %>
          <%= f.check_box :timevoting, {:class => "allowvoting", :style => "form"}, "true", "false" %>
          </div>
          <%= f.submit "Submit Changes", class: "btn btn-primary" %>

        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<% current_user.groups.each do |group| %>
<div class="modal fade" tabindex="-1" role="dialog" id="group<%=group.id%>">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Friends To: <b> <%= group.name %> </b></h4>
      </div>
      <div class="Intro"> </div>
      <div class="modal-body">
        <div class="container">
          <% checker = 0 %>
          <%= form_for group, url: "/groups/#{group.id}", html: {class: "form", role: "form", multipart: true, method: :patch} do |f| %>
          <%@activity.users.each do |user| %>
          <% if user != current_user  && group.users.find_by(id: user.id) == nil%>
          <li class="addpeople">   <%= image_tag user.normalimage, class: (user == current_user ? 'avatar mypicture' : 'avatar') %>
            <span> <h3 class="groupname"><%=user.username%> </h3></span>
            <div class="checkboxgroup">
                <%= f.check_box(:users, { :multiple => true }, user.id) %>
            </div>
            </li>
            <% checker += 1 %>
          <% end %>
            <% end %>
            <% if checker == 0 %>
            <p>
              All participants are already members of this group!
            </p>
            <% else %>
          <%= hidden_field_tag :actid, @activity.id %>
          <%= f.submit "Add Them!", class: "btn btn-primary groupconfirm" %>
          <% end %>
          <% end %>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>


<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
