
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Welcome <%= current_user.name %>
                    </a>
                </li>
                <li>
                    <a href="/profile">Back to Profile</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
                <li>
                    <a href="#">User Overview:</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row row-centered">
                <div class="col-md-6  col-centered activity">
                  <%= image_tag @activity.image.url(:medium) %>
                  <ul>
                    <li>Name: <%= @activity.name%></li>
                    <li>Description: <%= @activity.description%></li>
                    <li>Location: <%= @activity.location%></li>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#myModal3">Vote!</a>
                    <li>Date: <%= @activity.starts_at_date%></li>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Vote!</a>
                    <li>Time: <%= @activity.starts_at_time%>
                      <a href="#" class="btn btn-danger">Vote!</a>

                    </li>
                  </ul>
                  <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModal">Change Details</a>
                  <a href="#" class="btn btn-info">Create Counter Activity!</a>
                  <a href="#" class="btn btn-success ">LIKE</a>
                  <a href="#" class="btn btn-warning">DISLIKE</a>

                </div>
              </div>

              <div class="row">
              <section class="comments">
                <h3>Comments</h3>
                <div class="comment">
                  <img class="avatar" src="<%= asset_path("nikel.jpeg")%> " alt="nikel"/>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quisquam totam atque nam velit repudiandae nostrum provident quae magnam possimus explicabo, saepe error voluptatum obcaecati perferendis corrupti? Asperiores dolorum, rerum?</p>
                </div>
                <div class="comment">
                  <img class="avatar" src="<%= asset_path("jake.jpeg")%>" alt="jake"/>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quisquam totam atque nam velit repudiandae nostrum provident quae magnam possimus explicabo, saepe error voluptatum obcaecati perferendis corrupti? Asperiores dolorum, rerum?</p>
                </div>
              </section>
              <section class="form"> <br>
                <form>
                  <label>Name</label>
                  <input type="" name="">
                  <label>Email</label>
                  <input type="" name="">
                  <label>Text</label>
                  <input type="" name="">
                  <button>Submit</button>
                </form>
              </section>
              </div>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
















<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>
      <div class="Intro"> </div>
      <div class="modal-body">
        <div class="container">
        <%= form_for @activity, url: "/activity/#{@activity.id}", html: {class: "form", role: "form", multipart: true, method: :patch} do |f| %>
          <div class="form-group">
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name %>
          </div>
          <div class="form-group">
          <%= f.label :description, "Description:" %>
          <%= f.text_field :description %>
          </div>
          <div class="form-group">
          <%= f.label :location, "Location:" %>
          <%= f.text_field :location %>
          </div>
          <div class="form-group">
          <%= f.label :starts_at, "Description:" %>
          <%= f.date_select :starts_at %>
          <%= f.time_select :starts_at %>
          </div>
          <div class="form-group">
          <%= f.label :image, "Image:" %>
          <%= f.file_field :image %>
          </div>
          <%= f.submit "Submit Changes", class: "btn btn-primary" %>

        <% end %>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="myModal2">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vote</h4>
      </div>
      <div class="Intro"> </div>
      <div class="modal-body datecontent">
      <%= render "datevotes" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
