




      <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <!-- <img class="logo" alt="Brand" src="http://www.cosplaydotexe.de/costumes/enton/pin_enton_l.gif"> -->
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><h1><%= @name %></h1></li>
      <li><%= link_to "Sign up", "/signup" %></li>
      <li><%= link_to "Log In", "/login" %></li>
      <li><%= link_to "Log Out", "/logout", :method => :delete %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </nav>



<div class="slider">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src= <%= asset_path("image2.jpeg")%> alt="...">
      </div>
      <div class="item">
        <img src= <%= asset_path("image3.jpeg")%> alt="...">
      </div>
      <div class="item">
        <img src= <%= asset_path("image4.jpeg")%> alt="...">
      </div>
      <div class="item">
        <img src= <%= asset_path("image1.jpeg")%> alt="...">
      </div>

    </div>
    </div>
    <div class="overlay">
      <div class="organise main-heading">   Some Amazing Heading </div>
      <a href="/activity/new" class="btn btn-default">Start Now</a>
    </div>
</div>
    <div class="row mid-row">
			<div class="col-sm-4">
				<a href="#" class="thumbnail home-thumb">
					<img src="https://images.unsplash.com/photo-1421140702025-9bb9db769200?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6768d98efad81bbab5e1a73ea18eac5d" alt="Slate Bootstrap Admin Theme">
				</a>
				<h3>Example 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros</p>
				<a href="#" class="btn btn-danger">View</a>
			</div>
			<div class="col-sm-4">
				<a href="#" class="thumbnail home-thumb">
					<img src="https://images.unsplash.com/photo-1420578509940-73e9f7232eae?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=346c600782b4257a6addbdaccf546eb6" alt="Appi Landing Page Template">
				</a>
				<h3>Example 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros</p>
				<a href="#" class="btn btn-danger">View</a>
			</div>
			<div class="col-sm-4">
				<a href="jiggy.html" class="thumbnail home-thumb">
					<img src="https://images.unsplash.com/photo-1444694828841-5e4fa2f4ccfd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7e37aa7df3309b2bdf42966f5071aedc" alt="Jiggy Portfolio Theme">
				</a>
				<h3>Example 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros</p>
				<a href="#" class="btn btn-danger">View</a>
			</div>
		</div>






    <!-- <section class="mid-row">
      <div class="example">

      </div>
      <div class="fb-signup">
        <a href="#" class="btn btn-default">Signup with Facebook</a>

      </div>

    </section> -->

     <div class="navbar navbar-inverse " role="navigation">
        	<div class="container">
        		<div class="navbar-text pull-left">
        			<p>FLo</p>
        		</div>
        		<div class="navbar-text pull-right">
        			<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        			<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        			<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
        		</div>
        	</div>
        </div>
